@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
*{
  color: #63235d;
  font-family: 'Open Sans', sans-serif;
}
body {

  margin: 0;
  padding:0
}

.HolisticChatBot {
  background-color: #966392;
  display: flex;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HolisticChatBot button {
  border:solid 0.5px white;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
}

.HolisticChatBot button:hover {
  background-color: #5c14e3;
}

.nav{
  border-top: solid 0.5px rgba(255, 255, 255, 0.05);
  padding: 10px;
  margin: 10px;
}

.side-bar{
  background-color: #1b031c;
  height: 100vh;
  width: 244px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif; ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-chat{
  color: white;
}

.history{
  color: white;
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li{
  list-style-type: none ;
  padding: 15px 0;
  cursor: pointer;
}


.main {
  height:100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.main h1 {
  color: white;
  
}

.info{
  color: rgba(81, 14, 90, 0.5);
  font-size: 11px;
  padding: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;


}
.bottom-section{
  width: 100%;
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
}

.input-container{
  position: relative;
  width: 100%;
  max-width:650px;
}
input {
  width: 100%;
  border: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: white

}
.input-container input{
  color: white;
}

input:focus{
  outline: none;
}

#submit{
  position:absolute;
  bottom: 12px;
  right: 10px;
  cursor: pointer;
}


.title{
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


/* 

img, svg {
margin: 0;
padding-left: 0%;

} */
.new-chat{

  margin-left: 40%;
  margin-top: 10%;
}
.feed{
  overflow: scroll;
  width: 100%;
  padding: 0;
}

.feed li{
  display: flex;
  background-color: #444654;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.feed p {
  color: rgba(255,255, 255, 0.8);
  font-size: 14px;
  text-align:left;
}

.feed p.role{
  min-width:100px;
}

/* NavBar.css */

.navbar {
  /* display: flex; */
  background-color: #77d7de;
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  display: grid;
  align-items: center; 
  grid-template-columns: 0.5fr 0.5fr o.5fr; 
}

.navbar a {
  margin: 0 5%;
  text-decoration: none;
  color: white;
  font-size:120%;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  /* padding-left: 5%; */
  /* padding-right: 15%; */
}

.navbar a:hover {
  color: purple;
}

.logo {
  width: 10%;
  height: 10%;
  padding-bottom: 0%;
  padding-right: 0;

}
.signup-buttons {
  padding: 0%;
  margin-top: 0%;
  margin-bottom: 9%;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 30px;
  font-weight: 100;
  font: georgia, xx-large

}



.signup-buttons button {
  position: absolute;
  bottom: -13%; /* Adjust the distance from the bottom as needed */
  left: 69%; /* Adjust the distance from the right as needed */
  padding: 4px;
  padding-bottom: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
  background-color: #68f1f1;
  box-shadow: 0 0 10px rgb(16, 144, 223);
  transition: background-color 0.3s ease;
  font-size: extra-large;
}
.signup-buttons button:hover {
  background-color: white;
  box-shadow: 0 0 12px rgb(16, 144, 223);
}

.signup-buttons a {
  text-decoration: none;
  color: purple
  
}

.signup-buttons a:hover {
  text-decoration: underline;
  

}

.health-search{
  color: black;
  text-align: center;
  padding: 10px;
}

.health-search h4{
  
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  border-radius: 5px;

}

.text-center{

  color: rgb(150, 10, 10);
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  border-radius: 5px;

}

.image-container {
  position: relative;
}

img {
  width: 100%; /* Set the width to 100% of the container */
  height: auto; /* Maintain the aspect ratio of the image */
  margin: auto; /* Center the image */
  block-size: auto;
}











